nav {
    position: fixed;
    background-color: rgba(153, 0, 102, .5);
    /* opacity: 0.2; */
}

nav a.brand-logo {
    margin-left: 5rem;
    font-family: 'Tajawal', sans-serif;
}

#title {
    background-image: url("../assets/portada.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 80vh;
}

h2 {
    background-color: rgb(252, 205, 245);
    text-align: center;
    margin: 30vh 0 0 0;
}

.center {
    text-align: center;
}

.page-footer {
    background-color: #442C3F;
}