nav {
    position: fixed;
    background-color:rgba(153, 0, 102, .5);
    height: 5rem;
    z-index: 100;
    /* opacity: 0.2; */
}


nav a.brand-logo {
    margin-left: 5rem;
    font-family: 'Tajawal', sans-serif;
}

nav #logo {
    margin-bottom: 1rem;
    margin-top: .5rem;
}

#title {
    background-image: url("../assets/images/portada.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 80vh;
}

.margin{
    margin-top: 20vh;
    width: 300px;
}


h2 {
    text-align: center;
    margin: 5vh 0 0 0;
}

.center {
    text-align: center;
}

.page-footer {
    background-color: #442C3F;
}